<!--
	Copyright 2013 Catalyst IT Services

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<!--USER PROFILE PAGE-->
<%= renderLink "ScoreStyle.css" %>
<%
 selectedUserId = request.url.split('userid=')[1]
	selectedUser = User.find(:all, :conditions =>{:id => selectedUserId})[0]
	isCurrentUser = (current_user == selectedUser)
%>
<%=renderScoreNavBar %>
<div id = "score-page-content" class = "hidden">

    <!-- The uploaded project image/icon gets displayed here and if the project does not have an image/icon then the default image/icon is displayed -->
    <div id = "profile-info" class = "page-piece">
        <p>
            <span class="big" id="score_image">
                <img id= "profile_picture" style ="height:100px; max-width:150px" src="/userprofiles/display?current_user_id=<%= selectedUser.id%>"  onerror="this.src='/images/profiles/users/default.png'"/>
            </span>
        </p>
        <p style="font-size:1.5em"><%= selectedUser.name %></p></br></br>
        <% if isCurrentUser || userIsAdmin(current_user)%>
            <!-- The image selected is uploaded and saved in the images folder as the project image/icon -->
            <% form_for :userprofile,:url =>{:controller => "userprofiles",:action => "create",:method => :post, :current_user_id => selectedUser.id}, :html => {:multipart => true} do %>
                <%= file_field :userprofile,:uploadedfile ,:required => true %></br></br>
                <%= submit_tag "Change Picture" %>
            <% end %>
        <% end %>
    </div>
    <div id = "item-lists" class = "page-piece">
    	<p style="font-size:1.5em; margin:5px; text-decoration:underline">Teams</p>
        <%=renderList selectedUser.groups%>
    </div>
</div>
<%=unhidePage%>
