
<div class="dashbox"><h1> Define your trophies here </h1></div><br> 
	
	<% form_for :trophy,:url =>{:controller => "trophies",:action => "create", :method=> :post}, :html => {:multipart => true}  do|f| %></br>
	
	<%= f.label :trophy_name %></br>
	<%= f.text_field :trophy_name %></br>
	<%= f.label :metric %></br>
	<%= f.text_field :metric %></br>
	<%= f.label :amount %></br>
	<%= f.text_field :amount %></br>
	<%= f.label :duration %></br>
	<%= f.text_field :duration %></br></br>
	<%= f.submit :"Create Trophy" %>
	<% end %> 
	
	
