<%
  
   property_id = widget_properties['groupId']
   
   #finds all the properties for the sonar.score.projectGroup property
   properties = Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"})
   
   #variable that holds the project group name
   projectGroup = nil
   
   #array that holds projects
   projects = Project.find(:all, :conditions => {:scope => "PRJ"})
   
   #variable that holds the project name
   projectName = nil
   
   #finds all the metrics
   metric = Metric.find(:all, :conditions =>{:name =>"points"})
   
   #variable that holds the snapshotId
   snapShotId = nil
   
   #finds all "islast" snapshots 
   snapshots = Snapshot.find(:all, :conditions =>{:islast => "1"})
   
      
   #variable that holds the points value
   pointsValue = nil
   
  
%>

<div class = "widget-title"><%= widget_properties['groupId'] -%></div><br>
<div border:2px solid>
<table class ="data" style="table-layout: fixed; width: 50%" border="0" >
<thead>
  <tr valign ="top">
    <th><b>Project Id</th>
    <th><b>Name</th>
    <th><b>Points</th>
  </tr>
  </thead>

<!--Loops through the properties array that contains all the groups of projects for the 
sonar.score.projectGroup property.  If the resourceId is equal to the project that has been selected
then set the projectGroup variable to the @Property variable. 
-->
<% for @Property in properties %>
<% if (@Property.resource_id == @project.id)%>
<% projectGroup = @Property %>
<% end %>
<% end %>

<!--Retrieve all the resource ids for the projectGroup name -->
<% for @Property in Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"}) %>
<% if (@Property.value == projectGroup.value )%>
<tr class="<%= cycle('even', 'odd') -%>">

<td><%= @Property.resource_id -%></td>

	
	<!--Loop through all the projects and if the project id = the resource id then print the project name -->
	<% for @Project in projects %>
	<% if (@Project.id == @Property.resource_id)%>
	<% projectName = @Project %>
	
	<td><%= @Project.name -%></td>
	
	
	<!--Loop through all the snapshots and if the project id = the resource id then print the snapshot id -->
	<% for @Snapshot in snapshots %>
	<% if (@Project.id == @Snapshot.project_id)%>
	<% snapshotId = @Snapshot %>
	
	
	<!--Loop through all the project measures for the points measure
	 and if the snapshot id for the project equals the snapshot id from the snapshot table then print the points value for 
	 that project -->
	<% for @ProjectMeasure in ProjectMeasure.find(:all, :conditions =>{:metric_id => metric}) %>
	<% if (@ProjectMeasure.snapshot_id == @Snapshot.id)%>
	<% pointsValue = @ProjectMeasure %>

	<td><%= @ProjectMeasure.value.to_i -%></td>
	</tr>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
  
</table>
</div>


