<%
  
   #finds all the properties for the sonar.score.projectGroup property
   properties = Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"})
   
   #variable that holds the project group name
   projectGroup = nil
   
   #array that holds projects
   projects = Project.find(:all, :conditions => {:scope => "PRJ"})
   
   #variable that holds the project name
   projectName = nil
   
   #finds needed metrics
   pointsMetric = Metric.find(:all, :conditions =>{:name =>"points"})
   coverageMetric = Metric.find(:all, :conditions =>{:name =>"coverage"})
   rulesComplianceMetric = Metric.find(:all, :conditions =>{:name =>"violations_density"})
   docApiMetric = Metric.find(:all, :conditions =>{:name =>"public_documented_api_density"})   
   
   #variable that holds the snapshotId
   snapShotId = nil
   
   #finds all "islast" snapshots 
   snapshots = Snapshot.find(:all, :conditions =>{:islast => "1"})
  
  	  
%>

<!--Loops through the properties array that contains all the groups of projects for the 
sonar.score.projectGroup property.  If the resourceId is equal to the project that has been selected
then set the projectGroup variable to the @Property variable. 
-->
<% for @Property in properties %>
<% if (@Property.resource_id == @project.id)%>
<% projectGroup = @Property %>
<% end %>
<% end %>

<!--If the project selected is a member of a group...proceed -->
<% if (projectGroup != nil )%>
<h1 style="color:#4B9FD5" ><%=projectGroup.value -%></h1><br>

<table class ="data" style="table-layout: fixed; width: 100%"  border="0" >
<thead>
  <tr valign ="top">
    <th align="right" width = "50"></th>
    <th align="left">Name</th>
    <th class="right">Points</th>
    <th class="right">Coverage</th>
    <th class="right">Rules Compliance</th>
    <th class="right">Documented API </th>
  </tr> 
  </thead>

<!--Retrieve all the resource ids for the projectGroup name -->
<% for @Property in Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"}) %>
<% if (@Property.value == projectGroup.value )%>
<tr class="<%= cycle('even', 'odd') -%>">
<td align="right" width = "50">
<span><img alt height = "16" src="/images/profiles/projects/<%= @Property.resource_id -%>.png" onerror="this.src='/images/profiles/projects/default.png'" />
</span>

	
	<!--Loop through all the projects and if the project id = the resource id then print the project name -->
	<% for @Project in projects %>
	<% if (@Project.id == @Property.resource_id)%>
	<% projectName = @Project %>	
	<td align="left"><%= @Project.name -%></td>
	 
		
	<!--Loop through all the snapshots and if the project id = the resource id then set the snapshot id variable -->
	<% for @Snapshot in snapshots %>
	<% if (@Project.id == @Snapshot.project_id)%>
	<% snapshotId = @Snapshot %>
	
	
	<!--Loop through all the project measures and if the snapshot id for the project 
	 equals the snapshot id from the snapshot table then retrieve
	 metric values for all the projects in the group -->
	
	<!--points value-->
	<% for @ProjectMeasure in ProjectMeasure.find(:all, :conditions =>{:metric_id => pointsMetric}) %>
	<% if (@ProjectMeasure.snapshot_id == @Snapshot.id)%>
	<% pointsName = @ProjectMeasure.short_name %>
	<td align="right"><%= @ProjectMeasure.value.to_i -%></td>
	
	
	<!--coverage value-->
	<% for @ProjectMeasure in ProjectMeasure.find(:all, :conditions =>{:metric_id => coverageMetric}) %>	
	<% if (@ProjectMeasure.snapshot_id == @Snapshot.id)%>
	<% coverageValue = @ProjectMeasure %>
	<td align="right"><%= @ProjectMeasure.value -%>%</td>
	
	<!--rules compliance value -->
	<% for @ProjectMeasure in ProjectMeasure.find(:all, :conditions =>{:metric_id => rulesComplianceMetric}) %>	
	<% if (@ProjectMeasure.snapshot_id == @Snapshot.id)%>
	<% rulesComplianceValue = @ProjectMeasure %>
	<td align="right"><%= @ProjectMeasure.value -%>%</td>
	
	<!--documented API value -->
	<% for @ProjectMeasure in ProjectMeasure.find(:all, :conditions =>{:metric_id => docApiMetric}) %>	
	<% if (@ProjectMeasure.snapshot_id == @Snapshot.id)%>
	<% documentedApiValue = @ProjectMeasure %>
	<td align="right"><%= @ProjectMeasure.value -%>%</td>
		
	</tr>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
</table>
<% end %>


<!--The project that is selected must be a member of a group.  If they're not...an error message 
is returned -->
<% if (projectGroup == nil )%>
<div class = "widget-title"><%= widget_properties['groupId'] -%></div><br>
<p><%=@project.long_name -%> is not a member of any group.</p>
<% end %>
 


