<%
points=measure('points')
 if ( points )
%>

<table class="width100" border="0">
<tr>
<td valign="top" width="25%">
<div class="dashbox">    
     <p>
	<span class="big">
		<img src="/images/profiles/projects/<%= @project.id -%>.png" onerror="this.src='/images/profiles/projects/default.png'" width="140" height="100"/>
	    	
	</span>
     </p>
     </div>
 </td> 
 <td valign="top" nowrap="">
 <table>
 <tr><td>
	<h2>Points - <%= @project.long_name -%></h2>
</td>
 </tr>
 <tr>
 <td>
  <div><p>
	<%= format_measure('points', :suffix => ' Points value', :url =>url_for_drilldown('points'))-%>
   
   </p>
  </div>
 </td>
 </tr>
 <tr>
  <td>
  <div>
  <p>
	<%= format_measure('violations_density', :suffix => '  Rules compliance  ', :url => url_for_drilldown('violations_density')) -%>
	
   
   </p>
  </div>
 </td>
 </tr>
 <tr>
 <td>
 <div><p>
	<%= format_measure('public_documented_api_density', :suffix => '  Documented.API ', :url => url_for_drilldown('public documented_api_density')) -%>
     </p>
  </div>
 </td>
 </tr>
 <tr>
 <td>
 	<div>
		<p>    
      	
      <%= format_measure('coverage', :suffix => '  Code coverage ', :url => url_for_drilldown('coverage')) -%>
   		</p>
   	</div>
 </td>
 </tr>
  <tr>
 <td>
 	<div>
		<p>    
      	
      <%= format_measure('package_tangle_index', :suffix => '  Package Tangle Index ', :url => url_for_drilldown('package_tangle_index')) -%>
   		</p>
   	</div>
 </td>
 </tr>
   <tr>
 <td>
 	<div>
		<p>    
      	
      <%= format_measure('ncloc', :suffix => '  Lines ', :url => url_for_drilldown('ncloc')) -%>
   		</p>
   	</div>
 </td>
 </tr>
 </table>
  </td>
 </tr>

</table>
<% end %>
