<div class="dashbox"><h1> The Awards Page </h1></div><br></br>	
<% form_for :trophy, :url =>{:controller => "trophies",:action => "create",:method => :post} do|f| %></br>	
<span id = "trophyTypeButton" >
<%= f.radio_button :type, "Trophy", :required => "required", :onclick => "return validateform();" %>
<%= f.label :type,'Trophy' %>
<%= f.radio_button :type, "Title Cup" , :onclick => "return validateform();"%>
<%= f.label :type,'Title Cup' %>
</span>
</br></br></br>	
	
<%= f.label :name %>
<%= f.text_field :name, :required => "required" %></br></br>
<%= f.label :metric %>	
<%= select('trophy','metric', options_from_collection_for_select(Metric.find(:all, :conditions => {:enabled => 1}, :order => 'short_name ASC'), :short_name, :short_name),{:prompt => 'Select Metric'},{:required => true})%>
<%= f.label :amount %>                                                               
<%= f.text_field :amount,:size => 15, :class => 'someClass',:required => "required", :pattern => '^[1-9]\d*(\.\d+)?$', :title => 'Enter a positive number'%>
<%= f.label :duration %>	
<%= f.text_field :duration, :size => 15, :required => "required", :pattern => '^[1-9]\d*(\.\d+)?$', :title => 'Enter a positive number' %> 
<%= f.select (:durationValue, [['Days', 'd'],['Weeks', 'w']],{ :prompt => "Weeks or Days?"},{:required => 'select'})%>

</br></br>	
<%= f.submit :"Save"%>
	
<% end %> 
</br></br>

<%= link_to "List of Trophies", '/trophies/_trophyList' ,{:style=>'color: blue'} %>
<%= link_to "List of Title Cups", '/trophies/_cupList' ,{:style=>'color: blue'} %>

<script type="text/javascript">

function validateform(){
	var titleCup = trophy_type_title_cup.checked;
	var trophy = trophy_type_trophy.checked;
	
	if (titleCup){
		document.getElementById("trophy_amount").removeAttribute("required");
		document.getElementById("trophy_durationValue").removeAttribute("required");
		document.getElementById("trophy_duration").removeAttribute("required");	
	
	}else{		
		document.getElementById("trophy_amount").setAttribute("required","required");
		document.getElementById("trophy_durationValue").setAttribute("required","required");
		document.getElementById("trophy_duration").setAttribute("required","required");
		
	}

}


</script>



	