<div class="dashbox"><h1> Define your trophies here </h1></div><br> 
	
	<% form_for :trophy,:url =>{:controller => "trophies",:action => "create",:method => :post} do|f| %></br>
	
	<%= f.label :name %></br>
	<%= f.text_field :name %></br>
	<%= f.label :metric %></br>
	<%= f.text_field :metric %></br>
	<%= f.label :amount %></br>
	<%= f.text_field :amount %></br>
	<%= f.label :duration %></br>
	<%= f.text_field :duration %></br></br>
	<%= f.submit :"Create Trophy" %>
	<% end %> 
	
	