<%= renderLink "ScoreStyle.css" %>
<div class = "score-page-content">
	<%=renderScoreNavBar %>
	</br></br>
	<% teams = Group.find(:all, :conditions => ['description LIKE ?','[Team]%'])%>
	<div class="dashbox">
		<% teams.each { |team|%>
			<div class = "team-item">
				<a href = "/teamprofiles/index?teamid=<%=team.id%>">
					<img class= "team_logo" style ="height:30px; max-width:45px" src="/teamprofiles/display?current_team_id=<%=team.id%>"  onerror="this.src='/images/profiles/teams/default.png'"/>
					<span style = "font-size:1.5em"><%=team.name%></span>
				</a>
			</div>
		<%}%>
	</div>
</div>
