<!--
	Copyright 2013 Catalyst IT Services

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<!--TEAM PROFILE PAGE-->
<%= renderLink "ScoreStyle.css" %>
<%
 selectedTeamId = request.url.split('teamid=')[1]
	loggedIn = (current_user != nil)
	selectedTeam = Group.find(:all, :conditions =>{:id => selectedTeamId})[0]
	isMemberOfCurrentTeam = loggedIn && selectedTeam.users.include?(current_user)
	isAdmin = userIsAdmin(current_user)
	hasAccess = isMemberOfCurrentTeam || isAdmin
	displayName = selectedTeam.name
%>
<%=renderScoreNavBar %>
<div id = "score-page-content" class = "hidden">
    <div id = "profile-info" class = "page-piece">
	    <!-- The uploaded team logo gets displayed here and if the team does not have a logo then the default logo is displayed -->
	    <p>
	        <span class="big" id="score_image">
	        	<img id= "team_logo" style ="height:100px; max-width:150px" src="/teamprofiles/display?current_team_id=<%= selectedTeam.id%>"  onerror="this.src='/images/profiles/teams/default.png'"/>
	        </span>
	    </p>
	    <p style="font-size:1.5em"><%= selectedTeam.name %></p></br></br>
	    <% if hasAccess %>
			<!-- The image selected is uploaded and saved in the images folder as the team logo -->
			<% form_for :teamprofile,:url =>{:controller => "teamprofiles",:action => "create",:method => :post, :current_team_id => selectedTeam.id}, :html => {:multipart => true} do %>
				<%= file_field :teamprofile,:uploadedfile ,:required => true %></br></br>
				<%= submit_tag "Change Picture" %>
			<% end %>
	    <% end %>
    </div>
    <div id = "item-lists" class = "page-piece">
    	<p style="font-size:1.5em; margin:5px; text-decoration:underline">Members</p>
		<%=renderList selectedTeam.users%>
    </div>
</div>
<%=unhidePage%>
