<!--
	Copyright 2013 Catalyst IT Services

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
--><% form_for :trophy, :url =>{:controller => "trophies",:action => "create",:method => :post} do|f| %></br>
<%= f.label :metric %>	
<%= collection_select(:trophy, :metric, Metric.find(:all, :conditions => {:enabled => 1}, :order => 'short_name ASC'), :short_name, :short_name, :prompt => "Please select a metric") %>	
<%= f.label :amount %>                                                               
<%= f.text_field :amount,:size => 15 %>
<%= f.label :duration %>	
<%= f.text_field :duration, :size => 15 %> 
<%= f.select (:durationValue, [['Days', 'd'],['Weeks', 'w']],{ :prompt => "Weeks or Days?"}) %>
<span id = 'addMoreCriteria1' class = 'template' style = "text-decoration:underline; cursor: pointer; color: blue" onclick = "addAdditionalCriteria()"> Add additional criteria </span>		

<% end %> 
	

	
	
	